@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Css for the Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(37, 179, 37);
    border-radius: 5px;
}

/* Main Css of the Project */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.left {
    width: 25vw;
    padding: 10px;
}

.home ul li {
    width: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.library {
    margin-top: 10px;
    min-height: 70vh;
    position: relative;
}

.heading .lib_ico img {
    width: 20px;
    padding-right: 8px;
}

.heading h2 {
    font-size: 15px;
}

.songList {
    padding: 0px 10px;
    margin-top: 10px;
    overflow: auto;
    scrollbar-color: black;
    height: 344px;
}

.songList ul li {
    margin-top: 10px;
    padding: 12px;
    list-style: decimal;
    gap: 20px;
    justify-content: space-between;
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
    cursor: pointer;
}

.songList ul li .songLeft {
    gap: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 200;
    flex-direction: column;
    row-gap: 3px;
    color: rgb(169, 169, 169);
}

.footer .row1 {
    column-gap: 15px;
    cursor: pointer;
}

.footer .row2 {
    column-gap: 15px;
    cursor: pointer;
}

.right {
    width: 75vw;
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 10px;
    position: relative;
}

.header {
    background: #202020;
    margin-left: 10px;
    margin-right: 10px;
}

.header .nav {
    justify-content: space-between;
}

.spotifyPlaylist h1 {
    margin: 10px;
}

.cardContainer {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    position: relative;
}

.card .playbt {
    position: absolute;
    right: 10px;
    top: 135px;
    opacity: 0;
}

.card:hover {
    .playbt {
        opacity: 100;
        transition: all 0.3s ease-out;
    }
}

.card img {
    width: 100%;
    object-fit: contain;
}

.playBar {
    position: absolute;
    flex-direction: column;
    gap: 15px;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(37, 179, 37);
    width: 100%;
}

.songButtons {
    gap: 10px;
}

.songButtons img {
    cursor: pointer;
}

.controls {
    justify-content: space-around;
}

.seekbar {
    margin-bottom: 5px;
    border-radius: 5px;
    width: 99%;
    height: 4px;
    background: white;
    cursor: pointer;
}

.seekbar .circle {
    position: absolute;
    background: white;
    border-radius: 50%;
    bottom: 11px;
    height: 12px;
    width: 12px;
    transition: left 0.5s;
}

.hemburger {
    display: none;
}

.close {
    display: none;
}

@media (max-width: 768px) {
    .left {
        position: fixed;
        left: -150%;
        width: 300px;
        height: 100%;
        transition: all .3s;
        z-index: 1;
    }

    .right {
        width: 100vw;
        margin-left: 10px;
    }

    .hemburger {
        display: block;
    }

    .right_arrow {
        display: none;
    }

    .left_arrow {
        display: none;
    }

    .close {
        display: block;
    }

    .logo {
        justify-content: space-between;
    }

    .footer {
        position: relative;
        margin-top: 20px;
    }

    .spotifyPlaylist h1 {
        margin: 10px;
        text-align: center;
    }

    .cardContainer {
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 290px;
    }

    .card .playbt {
        position: absolute;
        right: 10px;
        top: 250px;
        opacity: 100;
    }

    .playBar {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .songInfo {
        font-size: medium;
        margin-right: 0px;
    }

    .songTime {
        font-size: small;
        display: none;
    }

    .songButtons img {
        width: 25px;
        /* padding-right: 20px; */
    }
}